1DAM/Lenguaje de marcas/XML/xds exercises/xsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Libro"> <xsd:complexType>
		<xsd:sequence>
			<xsd:element name="Título" type="xsd:string"/>
			<xsd:element name="Autores" type="xsd:string" maxOccurs=	"10"/> 
			<xsd:element name="Editorial" type="xsd:string"/>
		</xsd:sequence>
	<xsd:attribute name="precio" type="xsd:double"/> </xsd:complexType>
</xsd:element> </xsd:schema>
